@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-weight: 400;

	color: rgba(255, 255, 255, 0.87);
	background-color: #00000c;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

#vision {
	margin: 0 0;
}

body {
	margin: 0;
	padding: 0;
}

@media only screen and (max-width: 1550px) {
	#vision {
		margin: 4rem 12vw;
	}
}

@media only screen and (max-width: 1310px) {
	#vision {
		margin: 4rem 8vw;
	}
}

@media only screen and (max-width: 1200px) {
	#vision {
		margin: 4rem 5vw;
	}

	#title__panel {
		font-size: 14px;
	}

	#title__request {
		font-size: 15px;
	}

	#desc__request {
		font-size: 13px;
	}

	#block__request {
		min-width: 14rem;
		gap: 1.3rem;
	}
}
